* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.container-carrosel {
    display: grid;
    align-items: center;
    justify-content: center;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.carrosel {
    width: 80vw;
}

.slider-container {
    overflow-y: hidden;
    height: 15rem;
}

#slide2 {
    background-position: center;
    display: block;
    transition: transform 0.6s ease, opacity 0.6s ease;
    cursor: pointer;
}

#slide3 {
    background-position: center;
    display: block;
    transition: transform 0.6s ease, opacity 0.6s ease;
    cursor: pointer;
}

#slide4 {
    background-position: center;
    display: block;
    transition: transform 0.6s ease, opacity 0.6s ease;
    cursor: pointer;
}

#slide5 {
    background-position: center;
    display: block;
    transition: transform 0.6s ease, opacity 0.6s ease;
    cursor: pointer;
}

#slide6 {
    background-position: center;
    display: block;
    transition: transform 0.6s ease, opacity 0.6s ease;
    cursor: pointer;
}

#slide2::before {
    background-image: url(../image/fotovoltaico-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
    transform-origin: top left;
}

#slide2:hover::before {
    transform: scale(1.1);
}

#slide2:hover::after {
    width: 100%;
    height: 100%;
    content: "Concessionária Copel \a Potência CA: 100kW \a Potência CC: 118.8kWp";
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.49);
    color: black;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.8s ease;
    white-space: pre;
}

#slide3::before {
    content: "";
    background-image: url(../image/fotovoltaico-3.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
    transform-origin: top left;
}

#slide3:hover::before {
    transform: scale(1.1);
}

#slide3:hover::after {

    width: 100%;
    height: 100%;
    content: "Concessionária Copel \a Potência CA: 150kW \a Potência CC: 184.8kWp";
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.49);
    color: black;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.8s ease;
    white-space: pre;
}

#slide4::before {
    content: "";
    background-image: url(../image/fotovoltaico-4.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
    transform-origin: top left;
}

#slide4:hover::before {
    transform: scale(1.1);
}

#slide4:hover::after {
    width: 100%;
    height: 100%;
    content: "Concessionária Energisa-MS \a Potência CA: 6kW \a Potência CC: 6.3kWp";
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.49);
    color: black;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.8s ease;
    white-space: pre;
}

#slide5::before {
    content: "";
    background-image: url(../image/fotovoltaico-5-1.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
    transform-origin: top left;
}

#slide5:hover::before {
    transform: scale(1.1);
}

#slide5:hover::after {
    width: 100%;
    height: 100%;
    content: "Concessionária Copel \a Potência CA: 100kW \a Potência CC: 118.8kWp";
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.49);
    color: black;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.8s ease;
    white-space: pre;
}

#slide6::before {
    content: "";
    background-image: url(../image/fotovoltaico-7.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
    transform-origin: top left;
}

#slide6:hover::before {
    transform: scale(1.1);
}

#slide6:hover::after {
    width: 100%;
    height: 100%;
    content: "Concessionária Copel \a Potência CA: 50kW \a Potência CC: 58.5kWp";
    position: relative;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.49);
    color: black;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.8s ease;
    white-space: pre;
}

@media (max-width: 600px){
    .slider-container {
        overflow-y: hidden;
        height: 15rem;
    }
    #slide6:hover::after {
        transition: transform 0.1s ease;
    }
    :hover::before {
        cursor: none;
        background-color: transparent;
        filter: none;
        /* Outras propriedades de estilo aqui */
    }
    *{
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -moz-tap-highlight-color: rgba(0,0,0,0);
        -o-tap-highlight-color: rgba(0,0,0,0);
        -ms-tap-highlight-color: transparent;
    }
    #slide2:hover::after{
        display: block;
        padding-top: 30%;
        padding-left: 18%;
    }
    #slide3:hover::after{
        display: block;
        padding-top: 30%;
        padding-left: 18%;
    }
    #slide4:hover::after{
        display: block;
        padding-top: 30%;
        padding-left: 18%;
    }
    #slide5:hover::after{
        display: block;
        padding-top: 30%;
        padding-left: 18%;
    }
    #slide6:hover::after{
        display: block;
        padding-top: 30%;
        padding-left: 18%;
    }
}

@media (min-width:600px) and (max-width: 991px){
    #slide2:hover::after{
        display: block;
        padding: 10% 0 0 35%;
        
    }
    #slide3:hover::after{
        display: block;
        padding: 10% 0 0 35%;
        
    }
    #slide4:hover::after{
        display: block;
        padding: 10% 0 0 35%;
        
    }
    #slide5:hover::after{
        display: block;
        padding: 10% 0 0 35%;
        
    }
    #slide6:hover::after{
        display: block;
        padding: 10% 0 0 35%;
        
    }
}